@white:        #fff;
@white-30:     rgba(255, 255, 255, 0.3);
@black:        #000;
@black-60:     rgba(0, 0, 0, 0.6);
@black-30:     rgba(0, 0, 0, 0.3);
@black-10:     rgba(0, 0, 0, 0.1);
@yellow:       #f0c52e;
@yellow-50:    rgba(247, 226, 150, 0.5);
@yellow-30:    rgba(247, 226, 150, 0.3);
@yellow-text:  #f7e184;
@yellow-logo:  #ffc600;
@gray-light:   #eee;
@gray-lighten: #ebebeb;
@gray:         #e5e5e5;
@gray-darken:  #d9d9d9;
@gray-dark:    #464646;
@pink:         #f6dada;


@font-gilroy:    "Gilroy", sans-serif;
@font-open-sans: "Open Sans", sans-serif;

@light:     300;
@regular:   400;
@extrabold: 800;

@font-size:       15px;
@font-size-title: 47px;
@font-size-link:  18px;
@line-height:     30px;
