.logo{
  .link();
  position: absolute;
  top: -28px;
  left: 58px;
  display: block;
  font-family: @font-gilroy;
  font-weight: @extrabold;
  font-size: 48px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;

  &--footer{
    position: static;
    color: @yellow-logo;

    &:hover,
    &:focus{
      color: @yellow-logo;
      opacity: 0.6;
    }

    &:active{
      color: @yellow-logo;
      opacity: 0.3;
    }
  }
}
