.main-content{
  font-family: @font-open-sans;
  color: @black;
  background-color: @white;
}

.main-content__title{
  .title();
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.main-content__inner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
}
