.modal-map{
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  margin-top: -280px;
  left: 50%;
  margin-left: -480px;
  box-sizing: border-box;
  width: 960px;
  min-height: 559px;
  background: #efefef url("../img/map-big.jpg");
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  animation: modal 0.6s;
}
