// блок имеет отступ слева в IE, не понимаю от чего он
.search-form{
  position: relative;
  height: 50px;
  width: 440px;
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__label{
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: url("../img/icons/search.svg");
}

.search-form__input{
  box-sizing: border-box;
  .link-font;
  width: 100%;
  height: 50px;
  padding: 6px 0;
  padding-left: 38px;
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;

  &::placeholder{
    color: @black-30;
  }

  &:hover::placeholder{
    color: @black-60;
  }

  &:focus{
    color: @black;
    border-bottom: 2px solid @black;
  }

  &:focus + .search-form__button{
    display: block;
  }
}
// по ощущениям кнопка работает на костылях
// еще при нажатии на кнопку пропадает бордер у инпута(что логично- фокус теряется), но смотритсся как-то не очень
// если брать доступность с клавиатуры, то при нажатии tab после ввода в поле поиска фокус перескакивает на кнопку, но этого не видно - кнопка же скрыта при отсутствии фокуса на инпуте
.search-form__button{
  .link-font();
  display: none;
  width: 85px;
  padding: 6px 0 4px;
  background: transparent;
  border: 2px solid @black;
  outline: none;
  cursor: pointer;

  &:hover{
    color: @white;
    background-color: @black;
  }

  &:active{
    display: block;
    color: @white-30;
    background-color: @black;
  }
}
