.user-block{
  min-width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.user-block__link{
  .link();
  .link-font();
  position: relative;
  padding: 6px 0;

  &:hover .user-block__icon{
    opacity: 0.8;
  }

  &:hover .user-block__icon--login{
    opacity: 0.6;
  }

  &:active .user-block__icon{
    opacity: 0.3;
  }

  &--compare{
    margin-left: auto;
  }

  &--cart{
    margin-left: 41px;
  }
}

.user-block__icon{
  margin-right: 6px;
  fill: @black;

  &--login{
    margin-right: 10px;
    fill: #272525;
  }
}
